@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Agdasima', sans-serif;
    background-color: var(--LightGray);
    font-size: 1.5rem !important;
}

header {
    height: 15vh;
}
.main {
    height: 70vh;
    width: 90%;
    display: flex;
}
.footer{
    height: 15vh;
}

.card {
    width: 20rem;
}
.card-img-top {
    padding: 1rem;
}
.card__parrafo-1 {
    font-size: 1.8rem !important;
}
.card__parrafo {
    color: hsl(220, 15%, 55%);
    font-size: 1.2rem !important;
}

@media (min-width: 1024px) {
    .custom-font-s {
        font-size: 1.6rem !important;
    }
    .card-text {
        font-size: 1.1rem;
        line-height: 1.5;
    }
} 